
#precio-texto-contenedor {
    width: 70%;
}

#contenedor-comodidades {
    display: flex;
    justify-content: space-between;

}

#precio-texto-contenedor p {
    margin-top: 5%;
    padding-right: 2%;
    font-size: 22px;
}

.botones-de-contacto{
    width: 100%;
    display: flex;
    right: 25px;
}

.botones-de-contacto > button {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    border-radius: 25px;
    width: 150px;
    height: 45px;
    box-shadow: 
    5px 5px 20px #E5E5E5, 
    -5px -5px 20px #E5E5E5;
}

.comodidades {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
}

.comodidades svg {
    margin-top: 3px;
    width: 50px;
    height: 50px;
    fill: #5f6368;
}

.comodidades h3 {
    align-items: end }



iframe {
    border-radius: 25px;
    width: 100%;
}




@media (max-width: 768px) { 
    #contenedor-espacio {
        display: block;
    }

    #precio-texto-contenedor {
        width: 100%;
    }

    .botones-de-contacto > button {
        margin-left: 1rem;
    }

    .comodidades {
        position: initial;
        display: flex;
        margin-top: 3%;
    }
    
    #comodidades-mapa {
    flex-direction: column;    
}

    
}