
* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(212, 206, 206, 0.479);
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    font-family: "montserrat", sans-serif;

}

h1 {
    font-size: 2rem;
    margin-top: 2%;
    border-bottom: 2px solid grey;
    padding-bottom: 0.5rem;

}

h2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

h3 {
    font-size: medium;
    margin-top: 2%;
}

p {
    font-family: "open sans";
}

button {
    color: #F0F0F0;
    border: 0px;
    border-radius: 10px 0 10px 0;
    font-weight: bold;
    font-size: 18px;
    background: radial-gradient(circle at center,#39DA39 5%, #2A9D2A 95%);
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2.5%;
}

a {
    color: inherit; 
    text-decoration: none;
}

button:hover {
    cursor: pointer;    
}


article {
    display: flex;
}

.whatsapp-button {
    position: fixed; /* Posición fija */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    background-color: #25D366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Bordes redondeados */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    display: flex; /* Flexbox para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.whatsapp-icon {
    width: 30px; /* Ancho del icono */
    height: 30px; /* Alto del icono */
}


@media (max-width: 768px) {

    iframe {
        width: 100%;
        height: 100%;
      }

      html {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
    }

    body {
        margin-left: 0px;
        margin-right:0px;
    }

    .carousel-indicators {
        text-align: center;
        position: relative;;
        z-index: 1;
      }
      
      .carousel-indicators .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #F0F0F0;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .carousel-indicators .dot.active {
        background-color: #2A9D2A
      }

}
