#light-box {
  position: absolute;
  top: 5%;
  width: 91%;
  height: 90%;
  background-color: aqua;
  z-index: 1;

  display: none;
}

/* 
  la posicion absoluta esta cogiendo como referncia la pantalla por ausencia
  de un elemento con display flex, añadir un dive que englobe el boton y la 
  cuadriculoa grid, ver como afecta a la distribucion en diferentes pantallas
*/

#btn-ver-imagenes {
  width: 150px;
  position:absolute;
  left: 83%;
  bottom: 12%; 
}

#img-light-box {
  width: 100%;
  height: 100%;
}

#close-lightbox {
  position: absolute;
  left: 95%;
  z-index: 1;
}

#back, #next {
  position: absolute;
  z-index: 1;
  top: 50%;

}

#next {
  left: 97%;
}