:root {
    --color-verde-principal: #39DA39;
    --color-verde-85-transparencia: rgba(57, 218, 57, 0.85);
    --color-gris-principal: #5F6368;
    --margen-izquierdo: 10%;
    --margen-superior: 1%;
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
}

h1 {
    font-size: 38px;
    margin-top: var(--margen-superior);
    margin-left: 5%;
    margin-right: var(--margen-izquierdo);
}
button {
    color: #F0F0F0;
    position: relative;
    left: 6%;
    border: 0px;
    border-radius: 10px 0 10px 0;
    font-weight: bold;
    font-size: 18px;
    background: radial-gradient(circle at center,#39DA39 5%, #2A9D2A 95%);
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1.5%;
}

a {
    color: inherit; /* Hereda el color del texto */
    text-decoration: none;
}

button:hover {
    cursor: pointer;    
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
    grid-template-rows: repeat(2, 1fr);     /* 2 filas de igual altura */
    gap: 10px;                               /* Espacio entre las imágenes */
    width: 90%;                              /* Ocupa todo el ancho disponible */
    margin: var(--margen-superior) auto 1.5%;                      /* Margen superior y centrado */
}

.imagen-grande {
    grid-column: span 2;   /* Ocupa 2 columnas */
    grid-row: span 2;      /* Ocupa 2 filas */
}

#imagen-principal {
    border-radius: 25px 0 0 25px;
}

#imagen-arriba-derecha {
    border-radius: 0 25px 0 0;
}

#imagen-abajo-derecha {
    border-radius: 0 0 25px 0;
}

figure {
    margin: 0;              /* Elimina márgenes predeterminados */
    height: 100%;           /* Asegura que el figure ocupe todo el alto del contenedor */
    display: flex;          /* Asegura que la imagen se centre */
    align-items: center;    /* Centra la imagen verticalmente */
}

img {
    width: 100%;            /* La imagen ocupa todo el ancho del figure */
    height: 100%;           /* La imagen ocupa todo el alto del figure */
    object-fit: cover;      /* Mantiene la proporción de la imagen, recortando si es necesario */
}

#valoraciones, #valoraciones > div {
    display: flex;
    align-items: center;      /* Centra verticalmente */

}

#valoraciones > div > svg {
    margin-right: 20px;

}

#valoraciones {
    width: 90%;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 90%;
    display: flex;
    padding-top: 3%;
    margin-left: 5%;
    gap: 40px;

}

#valoracion-texto-botones {
    width: 100%;

}

#valoracion-general {
    display: flex;
    height: 60px;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 
    1px 1px 20px #E5E5E5, 
    -1px 1px 20px #E5E5E5;
    border-radius: 25px;
    justify-content: space-around;
}

#estrellas, #reseñas {
    display: flex;
    align-items: center;
}

#estrellas > h3, #reseñas > h3 {
    margin-right: 15px;
}

#bajar-3px {
    margin-top: 3px;
}

#texto-botones {
    margin-top: 7%;
}

#texto-botones > p {
    padding-top: 5%;
}

#texto-botones > p {
    font-size: 20px;
}

.botones-de-contacto{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    position: relative;
    right: 25px;
}

.botones-de-contacto > button {
    border-radius: 25px;
}

#calendario {
    width: 100%;
    border-radius: 25px;
    box-shadow: 
    1px 1px 20px #E5E5E5, 
    -1px 1px 20px #E5E5E5;
    text-align: center;
}
 
#calendario > h3 {
    font-size: 30px;
    margin-top: 3%;

}

#grid-calendario {
    display: grid;
    height: 75%;
    grid-template-columns: repeat(7, 1fr); /* 4 columnas de igual ancho */
    grid-template-rows: repeat(6, 1fr);     /* 2 filas de igual altura */
}

#grid-calendario p {
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente (opcional) */
    height: 50px;
    font-size: 24px;
}

#reserva-inicio {
    border-radius: 25px 0 0 25px;
}

#reserva-final {
    border-radius: 0 25px 25px 0;
}

#reserva-inicio, #reserva, #reserva-final {
    background-color: var(--color-verde-principal);
    box-shadow: 15px 5px 20px #E5E5E5;
}

article:nth-of-type(2) {
    margin-top: 7%;
    margin-left: 5%;
}

.comodidades {
    display: flex;
    margin-top: 3%;
}

.camas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

#cama-1, #cama-2, #cama-3 {
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}